protobuf>=3.19.3, <=3.20.1
numpy
scipy
matplotlib

# live plot view stuff
pyqtgraph
PyQt5

# Referee custom library
#pyVsssReferee

# Vision custom library
#pySSLVision

# Path Planning 
NeonPathPlanning

# For real life execution
pyserial
